.services-box{
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    height: auto;
}

.service-box{
    background-color: rgba(225, 218, 218, 0.91);
    height: 276px;
    width: 200px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}

.product-img{
    display: inline-block;
    margin: 10px auto;
    object-fit: cover;
    border-radius: 5px;
}

.view-button{
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    background-color: rgb(34, 129, 34);
    border-radius: 9px;
    margin: 9px auto;
    color: white;
    font-weight: bold;
}